<section id="toolkit">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h2>Toolkit</h2>
            </div>
            <div class="col-10">
                <div class="error-message-toolkit"><p><i>Sorry, somthing went wrong loading this resource. Please refresh the page. If the problem persists, send an email to <a href="mailto:daniel.joseph@redcross.org">email</a> with the name and version of the internet browser you are using. Thank you.</i></p></div>
                <div data-toolkitpath="toolkit" class="toolkit-block">
                    <div class="contents"></div>
                    <!-- ### folders and file links go here ### -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<script src="{% render_depth %}assets/scripts/toolkit.js"></script>
